@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Young Serif", serif;
}
body {
    background-color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 30px;
}

.container {
    background-color: #ffffff;
    width: 500px;
    height: 450px;
    border-radius: 15px;
}

h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 25px;
    font-weight: 100;
    position: relative;
}

h1::after {
    position: absolute;
    content: "";
    width: 55px;
    height: 3px;
    background-color: #666666;
    left: 0;
    transform: translate(25px, 40px);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 25px;
}

#nome {
    padding: 10px 0 10px 20px;
    border-radius: 15px;
}

#email {
    padding: 10px 0 10px 20px;
    border-radius: 15px;
}

#senha {
    padding: 10px 0 10px 20px;
    border-radius: 15px;
}

button {
    padding: 10px 0 10px 20px;
    margin-top: 20px;
    border-radius: 15px;
}